.blog{
    background-color: yellow;

    border: 5px solid black;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: justify;

}
.menu-bar{
    background-color: brown;
    border-radius: 5px;
    text-align: center;
}
.menu-bar ul{
    list-style: none;
    display: inline-flex;
    
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    font-weight: bold;

}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;

}

.box-model
{
    background-color: #2bab0d;
    margin: 30px;
    padding: 15px;
    border: 5px solid yellow;
    border-radius: 5px;
}
.box-model p{
    font-weight: bold;
    text-align: justify;
    width: 100%;
}